<!-- EndreXY: custom head -->

<!-- favicons -->
<!-- SVG, hope everyone uses this -->
<link rel="icon" type="image/svg+xml" href="/assets/images/MatsSocketLogo.svg">

<!-- According to Wikipedia: -->
<!-- For iPad -->
<link rel="apple-touch-icon" type="image/png" sizes="167x167" href="/assets/images/MatsSocketLogo-167x167.png">
<!-- For iPhone -->
<link rel="apple-touch-icon" type="image/png" sizes="180x180" href="/assets/images/MatsSocketLogo-180x180.png">

<!-- For Android -->
<link rel="icon" type="image/png" sizes="192x192" href="/assets/images/MatsSocketLogo-192x192.png">

<!-- EndreXY: /custom head -->
